*{
    margin: 0%;
    padding:0%;
}
html,body{
    height:100%;
    width:100%;
    background-color: rgb(247, 247, 247);
    
}
#main{
    height: 100%;
    width: 100%;
}
.head{
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    /* font-family: cursive; */
    font-style: italic;
    background-color: rgb(98, 1, 20);
    color: rgb(255, 255, 255);
    font-family: fantasy;
}