*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

.shape{
    margin-top: 5px;
    margin-left: 5px;
    height:200px;
    width:200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circ{
    border-radius: 50%;

}
#dia{
    rotate: 45deg;
    margin-top: 50px;
}
#dia h2{
    rotate: -45deg;
}
#sq:hover{
    background-color: rgb(81, 2, 2);

}
#dia:hover{
    background-color: rgb(3, 3, 97);
}
#circ:hover{
    background-color: rgb(65, 4, 123);
}
